<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.StudentHomeworkMapper">

    <insert id="save" parameterType="com.example.demo.model.StudentHomework">
         insert into student_homework(id,student_id,homework_id,homework_title,homework_content,update_time) values(#{id},#{student_id},#{homework_id},#{homework_title},#{homework_content},#{update_time})
    </insert>

    <select id="findAll" resultType="com.example.demo.model.StudentHomework">
       select * from student_homework
    </select>

    <select id="findAllById" resultType="com.example.demo.model.StudentHomework">
       select * from student_homework where homework_id = #{id}
    </select>

    <update id="update" parameterType="com.example.demo.model.StudentHomework">
       update student_homework set homework_content=(#{homework_content}),update_time=(#{update_time}) where student_id=(#{student_id}) and homework_id=(#{homework_id})
    </update>
</mapper>